.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inputWrapper {
  padding: 15px;
  width: 90%;
  max-width:90%;
}

.inputWrapper > div {
  margin: 10px 0 10px;
}
