body {
  background-color: #edeff2;
}

#root{
  display: flex;
  justify-content: center;
}

#appContainer {
  text-align: center;
  padding: 0;
  width: 100%;
  max-width: 600px;
  background-color: #FDFDFD;
  height: 100vh;
}
