#lineHeader {
  color: white;
  padding: 4%;
}

#lineHeader > h1 {
  /*margin: 0;*/
  line-height: 1.3;
}

#lineHeader > h3 {
  line-height: 1.3;
}

.statusIndicatorContainer {
  padding: 6%;
}

.statusHeadline {
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1.3em;
}


.feedbackContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.individualFeedbackWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.thumbWrapper {
  height: 75%;
}
